.active {
  /* Styles for the active state */
  filter: invert(44%) sepia(68%) saturate(7144%) hue-rotate(216deg)
    brightness(96%) contrast(91%);
}

.gradientText:hover {
  background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: gradientChange 2s linear infinite alternate;
}

@keyframes gradientChange {
  0% {
    background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  }
  100% {
    background-image: linear-gradient(45deg, #0000ff, #ff0000, #00ff00);
  }
}

._wiggle {
  transition: 0.8s;
  animation: 1.1s ease-in-out wiggle;
  transform-origin: center bottom;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg) scale(1);
  }
  25% {
    transform: rotate(-10deg) scale(1.3);
  }
  50% {
    transform: rotate(20deg) scale(1.3);
  }
  75% {
    transform: rotate(-20deg) scale(1.3);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
